@import "@material/typography/mdc-typography";
@import "@material/top-app-bar/mdc-top-app-bar";

$white: #fafafa;
$black: #000000;

h2 {
  @include mdc-typography(headline4);
}

body {
  margin: 0;
  background-color: $white;
}

.mdc-top-app-bar {
  @include mdc-top-app-bar-ink-color($black);
  @include mdc-top-app-bar-icon-ink-color($black);
  @include mdc-top-app-bar-fill-color($white);
}

main {
  margin-top: 56px;
  padding: 0 1em;
}

.poster {
  display: block;
  max-width: 600px;
  margin: 20px auto;
}
